/*----- Color Overrides ----*/

.wy-side-nav-search, .wy-nav-top {
    background: #404040;
  }

.wy-menu-vertical header{ 
    color: #404040
}

.wy-menu-vertical p.caption {
    color: #f0f0f0
}

.rst-content .note .admonition-title {
    background: #404040;
}

.rst-content .note {
    background: #edeced;
}

.rst-content blockquote {
    border-left: 0.25em solid #404040;
    background-color: #edeced;
    padding: 0.5em;
}

